html, body {
    height:100%: width:100%;
}
/* MAKE SURE YOU SET MAX-WIDTH TO LARGEST IMAGE WIDTH SIZE */
 .sp-wrap {
    display:none;
    line-height:0;
    font-size:0;
    background:#eee;
    position:relative;
    max-width:400px;
    float:left;
    margin:0 25px 15px 0;
    border: 1px solid #E4E4E4;
}
.sp-large img {
    max-width:100%;
    height:auto;
}
.sp-large a {
    display:inline-block;
}
.sp-thumbs {
    width:100%;
    text-align:left;
}
.sp-thumbs img {
    width:50px;
    height:50px;
}
.sp-thumbs a:link, .sp-thumbs a:visited {
    border:5px solid #eee;
    display:inline-block;
}
.sp-thumbs a:hover, .sp-thumbs a:active,
.sp-current {
    border:5px solid #5BC9B7!important;
}
.sp-modal {
    display: none;
    background:rgb(0, 0, 0);
    background:rgba(255,255,255, .9);
    position:fixed;
    text-align:center;
    height:100%;
    width:100%;
    z-index:9999;
    top:0px;
    left:0px;
}
.sp-modal-table {
    display:table;
    height:100%;
    width:100%;
}
.sp-modal-vcenter {
    display:table-cell;
    vertical-align: middle;
}
.sp-modal:hover {
    cursor:pointer;
}
.sp-modal img {
    max-width:100%;
    height:auto;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.18);
}